body {
    font-family: 'Andika';
    font-size: 14px;
}

.bg-blue-color
{
    background-color: #121e29;
}
.text-green-color
{
    color: #c0c6f5;
}
.bg-green-color
{
    background-color: #b9d339;
}
#nav-top
{
    margin-bottom: -85px;
    z-index: 1;
}
#nav-toggle-btn
{
    background-color: #b9d339;
    color: #012d54;
    font-size: 20px;
    padding-bottom: 0;
    margin: 0 auto;
}

.menu-btn{
    background-color: #032d33;
    color: white;
    width: 100%;
    border-radius: 20px;
    text-align: left;
    padding: 2px 1px 2px 10px;
    font-size: 16px;
    font-weight: normal;
    border: 2px solid white;
    line-height: 32px;
}

.menu-btn:focus
{
    outline: none;
}
.menu-icon
{
    float: right;
    margin-top: 8px;
    margin-right: 10px;
}
.sub-menu-btn
{
    background-color: #337ab7;
    color: white;
    width: 70%;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    border: none;
}
.sub-menu-btn:focus
{
    outline: none;
}
.card-bg-color
{
    background-color: #cbcbcb;
    border: none;
}
.card-body
{
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

/* this is switch button code */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #b9d339;
}

input:focus + .slider {
    box-shadow: 0 0 1px #b9d339;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#display-img
{
    width: 100%;
    height: 80vh;
}

/* Start Bootstrap -  */

#wrapper {
    overflow-x: hidden;
}
#overflow-wrapper
{
    height: 100vh;
}
#sidebar-wrapper {
    background: #cccccc;
    height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .list-group {
    width: 15rem;
    margin-top: 100px;
}

#page-content-wrapper {
    min-width: 100vw;
    margin-top: 80px;
    background-color: #ace9ea;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.btn-menu{
    background: #07a4ef;
    color: white;
    border: none;
    padding: 17px 10px 17px 10px;
    border-radius: 0px 10px 10px 0px;
    margin-top: 15%;
    position: absolute;
}

.btn-menu:focus{
    outline: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
        height: calc(100vh - 80px);
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }

}
.icon-rotate
{
    transform: rotate(180deg);
}
.menu-icon-rotate
{
    transform: rotate(90deg);
}
.top-nav-icon-rotate
{
    transform: rotate(180deg);
}
.xs-logo-top
{
    margin-right: auto;
}
.xs-text-top
{
    margin-right: auto;
}
.xs-text-top-right
{
    margin-top: -100px;
}
#left-slide-top
{
    display: none;
    margin-top: -100px;
}
#top-nav-small-wrapper
{
   display: none;
}
#nav-toggle-btn
{
    display: none;
}
/**top nav on small screen settings**/
@media (max-width: 991px) {
    #nav-top
    {
        display: none;
    }
    #left-slide-top
    {
        display: block;
    }
    #page-content-wrapper {
        margin-top: 0px;
        height: 100vh;
    }
    #top-nav-small-wrapper
    {
        /* position: absolute; */
        position: relative;
        display: block;
        z-index: 1;
        background: #ace9ea;
    }
    #nav-toggle-btn
    {
        display: block;
        background: #07a4ef;
        color: white;
        border: none;
        padding: 0px 15px 0px 15px;
        border-radius: 0px 0px 10px 10px;
        /* margin-left: 250px; */
    }
    #nav-toggle-btn:focus
    {
        outline: none;
    }
    #top-nav-small-container
    {
        display: none;
        width: 100vw;
        background-color: #012d54;
        border-bottom: 2px solid #477299;
    }
    .diplay-nav-top-class
    {
        display: block;
        margin-top: 300px;
    }
    .btn-menu
    {
        margin-top: 300px;
    }
}


.body-nav{
    box-shadow: 1px 2px 3px #888;
}